@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/cera-pro/Cera Pro Medium.ttf");
}

@font-face {
  font-family: "Cera Pro Light";
  src: url("../../assets/fonts/cera-pro/Cera Pro Light.ttf");
}

@font-face {
  font-family: "Ethnocentric";
  src: url("../../assets/fonts/ethnocentric/ethnocentric rg.ttf");
}

@font-face {
  font-family: "Century Gothic";
  src: url("../../assets/fonts/century-gothic/Century Gothic.ttf");
}

@font-face {
  font-family: "segments";
  src: url("../../assets/fonts/segments/segments.ttf");
}
